



.principal{
    background-color: white;
    width: 58%;
    margin: 0 auto;
    padding: 2em 2em 2em 0;
    margin-top: 2em;
    height: 78vh;
}

.edicao{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.titulo{
    border-left: 2px solid #000000;
    height: 6%;
    padding-left: 20px;
}
.titulo h1{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    width: 85px;
}
.informacao{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84%;
}


.info_usuario{
    display: flex;
    padding-left: 4%;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

.img_usuario{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.info p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    
    color: #000000;
}
.alterar label{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #2686CC;
    cursor: pointer;
}

.text_input{
    display: flex;
    padding-left: 4%;
    width: 85%;
    justify-content: space-between;
}

.text_input label{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
#text_perfil{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
    width: 87%;
    padding: 2px;
}

.nome p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #909090;
}
.paragrafo{
    width: 84%;
    padding-left: 15%;
    text-align: justify;
}

.text_input_user{
    display: flex;
    padding-left: 4%;
    width: 85%;
    justify-content: space-between;
}
.text_user_name label{
    
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #000000;
    
}
#text_user_name{
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        border-radius: 2px;
        width: 151%;
        height: 55%;
        padding: 2px;
}
.text_input_user{
    display: flex;
    padding-left: 4%;
    width: 85%;
    justify-content: space-between;
}
#txt_username{

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #909090;

}
.user_p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding-top: 7%;

    color: #909090;
}
#text_perfil_email{
    
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        border-radius: 2px;
        width: 87%;
        padding: 2px;
    
}

.text_input_email{
    /* display: flex; */
    padding-left: 4%;
    width: 85%;
    justify-content: space-between;
}
.text_perfil_email{
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #000000;
}
.enviar{
    padding-left: 16%;
}

.desativar{
    padding-left: 19%;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    color: #2686CC;
}
.desativar:hover {
    text-decoration: underline;
}
.botao {
    width: 66px;
height: 30px;
background: #2686CC;
border-radius: 2px;
font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;
}

.botao:hover {
    cursor: pointer;
}